.slider-item {
  position: relative;
  background: var(--bs-primary);
}
@media only screen and (min-width: 600px) {
  .slider-item {
    height: 600px;
    display: inline-flex !important;
  }
}

.slider-img {
  height: 450px;
}
@media only screen and (min-width: 600px) {
  .slider-img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
