body {
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
}
hr {
  border-top-color: var(--bs-border-color);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--bs-heading-font-family);
}
