@import "navbar-toggler.css";
.banner {
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .header-middle {
    padding-block: 20px;
    border-bottom: 1px solid var(--bs-border-color);
  }
}
@media (min-width: 992px) {
  .header-bottom {
    padding-block: 20px;
  }
}
