@import "primary-btn.css";
@import "white-btn.css";
@import "floating-btn.css";
@import "link-btn.css";

.btn {
  --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 10px;
  display: flex;
  align-items: center;
}
